<h1>Welcome, <%= current_user.name %>! </h1>
<h3>Edit your Try Something New</h3>
<form action="/goals/<%= @goal.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
    <br>
    <br>
    <h3>Name:</h3>
    <p><%= @goal.goal_name %></p>
    <input id="goal_name" type="text" name="goal_name" value="<%= @goal.goal_name %>">
    
    <br>
    <br>
    <h3>Goal Type:</h3>
    <p><%= @goal.goal_type %></p>
    <select id="goal_type" name="goal_type">
        <option value="Daily">Daily</option>
        <option value="Weekly">Weekly</option>
        <option value="Monthly">Monthly</option>
        <option value="Yearly">Yearly</option>
    </select>
    <br>
    <br>
    <h3>Details:</h3>
    <p><%= @goal.goal_details %></p>
    <input id="goal_details" type="text" name="goal_details" value="<%= @goal.goal_details %>">
    <br>
    <br>
    <h3>Obstacles:</h3>
    <p><%= @goal.obstacles %></p>
    <input id="obstacles" type="text" name="obstacles" value="<%= @goal.obstacles %>">
    <br>
    <br>
    <label for="rate_experience">Rate Experience:</label>
    <select id="rate_experience" name="rate_experience" value="<%= @goal.rate_experience %>">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br>
    <br>
    <input id="submit" type="submit" value="Save Changes">
</form>
