<div class="index-wrapper">
  <div class="index-image">
  <br>
  <br>
  <br>
    <h1>Hi, <%= current_user.name %> </h1>
    <h2>Welcome, to the Try Something New App!</h2>
  </div>
  <h4><a href="/goals/new">Have something new you want to try?</a></h4>
  <h4>Here are your goals!</h4>
    <div class="index-form-wrapper">
      <%if @user_goals%>
        <table class="zebra"> 
          <col>
          <col>
          <col>
          <col>
          <thead> 
            <tr> 
              <th>To try</th>
              <th>Timespan</th>
              <th>Details</th>
              <th>Hurdles</th>
              <th>Rate Experience</th>
            </tr>
          </thead>
          <tbody>
            <%@user_goals.each do | goal |%>
              <tr>
                <td><%= goal.goal_name %></td>
                <td><%= goal.goal_type %></td>
                <td><%= goal.goal_details %></td>
                <td><%= goal.obstacles %></td>
                <td><%= goal.rate_experience %></td>
              </tr>
            <%end%>
          </tbody>
        </table>
      <%end%>
    </div>
    <br>
    <br>
      <h4>Why not check out what others want to try too!</h4>
      <div class="index2-form-wrapper">
        <%if @goals%>
          <table class="zebra"> 
            <col>
            <col>
            <col>
            <col>
            <thead> 
            <tr>
              <th>To try</th>
              <th>Timespan</th>
              <th>Details</th>
              <th>Hurdles</th>
              <th>Rate Experience</th>
            </tr>
            <tbody>
            <%@goals.each do | goal |%>
              <tr>
                <td><%= goal.goal_name %></td>
                <td><%= goal.goal_type %></td>
                <td><%= goal.goal_details %></td>
                <td><%= goal.obstacles %></td>
                <td><%= goal.rate_experience %></td>
              </tr>
          </tbody> 
          <%end%>
        </table>
        <%end%>
        </div>